<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.edu.cqupt.rubic_business.dao.ResultdatasetAttributeRelationshipDao">
	
	<insert id="addResultdatasetAttributeRelation" parameterType="cn.edu.cqupt.rubic_business.Model.po.ResultdatasetAttributeRelationshipPo">
		INSERT INTO 
		resultdataset_attribute_relationship (resultdataset_id,attribute_id) 
		VALUES(#{resultdataset_id},#{attribute_id})
	</insert>
	
</mapper>